In [75]:
import numpy as np
import pandas as pd
import matplotlib as plt
import sklearn
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, GridSearchCV

In [76]:
train_df = pd.read_csv(r"C:\Users\Asus\Downloads\loan-train.csv")
test_df = pd.read_csv(r"C:\Users\Asus\Downloads\loan-test.csv")

In [77]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58645 entries, 0 to 58644
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          58645 non-null  int64
 1   person_age                  58645 non-null  int64
 2   person_income               58645 non-null  int64
 3   person_home_ownership       58645 non-null  object
 4   person_emp_length           58645 non-null  float64
 5   loan_intent                 58645 non-null  object
 6   loan_grade                  58645 non-null  object
 7   loan_amnt                   58645 non-null  int64
 8   loan_int_rate               58645 non-null  float64
 9   loan_percent_income         58645 non-null  float64
 10  cb_person_default_on_file   58645 non-null  object
 11  cb_person_cred_hist_length  58645 non-null  int64
 12  loan_status                 58645 non-null  int64
dtypes: float64(3), int64(6), object(4)
memory usage: 5.8+ MB

In [78]:
y = train_df["loan_status"]
X = train_df.drop(columns=["loan_status"])

In [79]:
X.replace(['RENT','OWN','MORTGAGE','OTHER'],[1,2,3,4])
X

C:\Users\Asus\AppData\Local\Temp\ipykernel_16740\818246040.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  X.replace(['RENT','OWN','MORTGAGE','OTHER'],[1,2,3,4])

          id  person_age  ...  cb_person_default_on_file cb_person_cred_hist_length
0          0          37  ...                          N                         14
1          1          22  ...                          N                          2
2          2          29  ...                          N                         10
3          3          30  ...                          N                          5
4          4          22  ...                          N                          3
...      ...         ...  ...                        ...                        ...
58640  58640          34  ...                          Y                         10
58641  58641          28  ...                          N                          8
58642  58642          23  ...                          N                          2
58643  58643          22  ...                          N                          3
58644  58644          31  ...                          N                          5

[58645 rows x 12 columns]

In [80]:
all_data = train_df
all_data_na = (all_data.isnull().sum() / len(all_data)) * 100
all_data_na = all_data_na.drop(all_data_na[all_data_na == 0].index).sort_values(ascending=False)[:30]
missing_data = pd.DataFrame({'Missing Ratio' :all_data_na})
missing_data.head(20)

# There are 0 missing values in the dataset
# Hence, We will not use SimpleImputer

Empty DataFrame
Columns: [Missing Ratio]
Index: []

In [81]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler

# Identify categorical and numerical columns
categorical_cols = X.select_dtypes(include=['object']).columns
numerical_cols = X.select_dtypes(exclude=['object']).columns

# Preprocessing for numerical data
numerical_transformer = Pipeline(steps=[
    ('scaler', StandardScaler())
])

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

# Define the model
model = KNeighborsClassifier()

# Create and evaluate the pipeline
clf = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', model)])

# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

# Hyperparameter tuning using GridSearchCV
param_grid = {
    'classifier__n_neighbors': [3, 5, 7, 9, 11],
    'classifier__weights': ['uniform', 'distance'],
    'classifier__metric': ['euclidean', 'manhattan']
}

grid_search = GridSearchCV(clf, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Best parameters and best score
print(f'Best parameters: {grid_search.best_params_}')
print(f'Best cross-validation accuracy: {grid_search.best_score_}')

# Evaluate the model on the validation set
best_model = grid_search.best_estimator_
y_pred = best_model.predict(X_val)

accuracy = accuracy_score(y_val, y_pred)
print(f'Validation Accuracy: {accuracy}')


# Predict on test data
predictions = best_model.predict(test_df)

Best parameters: {'classifier__metric': 'manhattan', 'classifier__n_neighbors': 11, 'classifier__weights': 'distance'}
Best cross-validation accuracy: 0.9329013882010226
Validation Accuracy: 0.9367379998294825

In [84]:
predictions

array([1, 0, 1, ..., 0, 1, 1])