In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
import os 
import sklearn
from sklearn.preprocessing import LabelEncoder
from sklearn.cluster import KMeans

import warnings
warnings.filterwarnings("ignore")

In [31]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("rabieelkharoua/students-performance-dataset")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\Asus\.cache\kagglehub\datasets\rabieelkharoua\students-performance-dataset\versions\2

In [32]:
    
# making dataframe  
df = pd.read_csv(r"C:\Users\Asus\Downloads\Student_performance_data _.csv")  
df = pd.DataFrame(dict(df))
# output the dataframe 

df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,1095,16,1,0,1,6.414243,4,0,1,1,1,0,0,2.708472,2
95,1096,16,1,2,3,19.278320,29,0,3,0,0,0,1,0.732908,4
96,1097,16,1,1,1,12.831594,29,0,4,0,0,1,0,0.965482,4
97,1098,18,0,0,2,0.468659,5,0,2,0,1,0,0,2.555233,2
98,1099,16,0,0,3,8.603518,25,0,2,1,0,1,1,0.744322,4

In [33]:
import tensorflow as tf

# Function definition
def df_to_dataset(dataframe, shuffle=True, batch_size=32):
    original = dataframe.copy()
    labels = dataframe.pop('GradeClass')  
    ds = tf.data.Dataset.from_tensor_slices((dict(original), labels))
    if shuffle:
        ds = ds.shuffle(buffer_size=len(dataframe))
    ds = ds.batch(batch_size)
    ds = ds.prefetch(batch_size) # overlaps data preprocessing and model execution IMPROVES PERFORMANCE 
    return ds


df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,1095,16,1,0,1,6.414243,4,0,1,1,1,0,0,2.708472,2
95,1096,16,1,2,3,19.278320,29,0,3,0,0,0,1,0.732908,4
96,1097,16,1,1,1,12.831594,29,0,4,0,0,1,0,0.965482,4
97,1098,18,0,0,2,0.468659,5,0,2,0,1,0,0,2.555233,2
98,1099,16,0,0,3,8.603518,25,0,2,1,0,1,1,0.744322,4

In [34]:
df['Age'].value_counts(normalize=True)

Age
18    0.303030
16    0.262626
17    0.242424
15    0.191919
Name: proportion, dtype: float64

In [25]:
import sklearn.model_selection
train, test = sklearn.model_selection.train_test_split(df, test_size=0.2)
train, val = sklearn.model_selection.train_test_split(train, test_size=0.2)
train.to_csv('../ml/housing-train.csv', encoding='utf-8', index=False)
test.to_csv('../ml/housing-test.csv', encoding='utf-8', index=False)
val.to_csv('../ml/housing-val.csv', encoding='utf-8', index=False)

In [26]:
train_ds = df_to_dataset(train)
val_ds = df_to_dataset(val,shuffle=False, batch_size=32)
train_ds

<_PrefetchDataset element_spec=({'StudentID': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Age': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Gender': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Ethnicity': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'ParentalEducation': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'StudyTimeWeekly': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'Absences': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Tutoring': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'ParentalSupport': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Extracurricular': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Sports': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Music': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'Volunteering': TensorSpec(shape=(None,), dtype=tf.int64, name=None), 'GPA': TensorSpec(shape=(None,), dtype=tf.float64, name=None), 'GradeClass': TensorSpec(shape=(None,), dtype=tf.int64, name=None)}, TensorSpec(shape=(None,), dtype=tf.int64, name=None))>

In [27]:
numericColumns = ['Age','Gender','Ethnicity','ParentalEducation','Absences','Tutoring'	
                  'Extracurricular','Sports','Music',]

In [28]:
from tensorflow import feature_column as fc

def get_scal(feature):
    def minmax(x):
        mini = train[feature].min()
        maxi = train[feature].max()
        return (x - mini)/(maxi-mini)
    return minmax    

inputs = {
        colname: tf.keras.layers.Input(name=colname, shape=(), dtype='float32')
        for colname in numericColumns
    }

feature_columns = dict()
for header in numericColumns:
    scal_input_fn = get_scal(header)
    feature_columns[header] = fc.numeric_column(header,normalizer_fn=scal_input_fn)

In [29]:
feature_layer = tf.keras.layers.Dense(feature_columns, dtype='float64')(inputs)

# `tf.keras.Sequential()` groups a linear stack of layers into a tf.keras.Model.
model = tf.keras.Sequential([
  feature_layer,
  tf.keras.layers.InputLayer(input_shape=feature_columns["Age"].shape()),
  tf.keras.layers.Dense(12, input_dim=8, activation='relu'),
  tf.keras.layers.Dense(8, activation='relu'),
  tf.keras.layers.Dense(1, activation='linear',  name='median_house_value')
])

# Model compile
model.compile(optimizer='adam',
              loss='mse',
              metrics=['mse'])

# Model Fit
history = model.fit(train_ds,
                    validation_data=val_ds,
                    epochs=32)

ValueError: Layer "dense_1" expects 1 input(s), but it received 8 input tensors. Inputs received: [<KerasTensor shape=(None,), dtype=float64, sparse=False, name=keras_tensor_8>, <KerasTensor shape=(None,), dtype=float64, sparse=False, name=keras_tensor_9>, <KerasTensor shape=(None,), dtype=float64, sparse=False, name=keras_tensor_10>, <KerasTensor shape=(None,), dtype=float64, sparse=False, name=keras_tensor_11>, <KerasTensor shape=(None,), dtype=float64, sparse=False, name=keras_tensor_12>, <KerasTensor shape=(None,), dtype=float64, sparse=False, name=keras_tensor_13>, <KerasTensor shape=(None,), dtype=float64, sparse=False, name=keras_tensor_14>, <KerasTensor shape=(None,), dtype=float64, sparse=False, name=keras_tensor_15>]

In [35]:
model.summary()
arr = np.linspace(start=38.0, stop=42.0, num=10).tolist()
arr

NameError: name 'model' is not defined